@import "./utils.scss";

.search {
  position: relative;
  font-family: sans-serif;

  &__lbl {
    color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: rem(16px);
    left: rem(16px);
    font-size: rem(16px);
    background: rgb(0, 30, 60);
    transition: all 400ms;
    padding: rem(4px) rem(8px);
  }

  &:hover,
  &.focus {
    .search__lbl {
      font-size: rem(8px);
      top: rem(8px);
    }
  }

  &__input {
    padding: rem(9px);
    border-radius: rem(4px);
    border: rem(1px) solid rgba(255, 255, 255, 0.23);
    background-color: rgb(0, 30, 60);
    margin: rem(10px);
    color: rgba(255, 255, 255, 0.9);
  }
}
